@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@font-face {
  font-family: 'NotoSerifKR';
  src: url('/fonts/NotoSerifKR-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NotoSerifKR', sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

*::-webkit-scrollbar{
  display: none;
}